body {
    background-color: #110B23;
}

header {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    padding: 20px 15px;
    background: #39393d41;
    position: fixed;
}

header .navbar {
    max-width: 1800px;
    display: flex;
    
    align-items: center;
}

.navbar .menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
    gap: 50px;
    list-style: none;
}

/* logo section */
.navbar .navbar-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.navbar .navbar-left .logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
    content: "Cultra";
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

}

.navbar .navbar-left .logo-section img{
    size: 50px;
    height: 50px;
    border-radius: 50%;
}

/* user profile picture and details */
.navbar .navbar-left .user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navbar .navbar-left .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.navbar .navbar-left .user-profile h3 {
    font-size: 1.1rem;
    color: #fff;
}

/* search bar */
.menu-links .search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu-links .search-bar input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    height: 30px;
    width: 180px;
    padding: 0 20px;;
}

.menu-links .search-bar #search-button {
    color: #fff;
    background: transparent;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

/* links to other sections */
.navbar .menu-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 1.1rem;
    gap:5px;
}

.navbar .menu-links a:hover {
    color: var(--themColor);
}

.navbar .menu-links #logout-button{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 15px;
}

.navbar .menu-links #logout-button:hover{
    background-color: var(--themColor);
    border-color: transparent;
    color: #fff;
}

main{
    margin-top: 130px;
    color: #fff;
    align-items: center;
}

.event-status {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 100%;
    margin-top: 40px;
  }
  
  .event-status-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #110B23;
    border-radius: 31px;
    background: #110B23;
    box-shadow: inset 5px 5px 10px #0a0615,
            inset -5px -5px 10px #181031;
    width: 820px;
    height: 80px;
    margin-left: 20vw;
  }
  
  
  .event-name {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    max-width: 100%;
  }
  
  .event-status-box img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }

  .statusAccept {
    color: #05ff09; 
    border-radius: 31px;
    background: linear-gradient(145deg, #120c25, #0f0a20);
    box-shadow:  5px 5px 0px #0a0615,
             -5px -5px 0px #181031;
    padding: 13px; 
    border-radius: 50px;
    border: none;
    width: 120px; 
    margin-left: auto;
    
    font-size: 20px;
    cursor: pointer;
  }

  .statusReject {
    border-radius: 31px;
    background: linear-gradient(145deg, #120c25, #0f0a20);
    box-shadow:  5px 5px 0px #0a0615,
                -5px -5px 0px #181031;
    padding: 13px; 
    border: none;
    border-radius: 50px; 
    width: 120px; 
    margin-left: 10px;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
  }

  .status-accepted {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: yellow;
    font-weight: bold;
}

.status-rejected {
    color: red;
    font-weight: bold;
}

  
  .request-hire {
    margin-top: 20px;
    font-size: 18px; 
    cursor: pointer;
    border-radius: 31px;
    align-items: center;
  }

  .li-request{
    border-radius: 31px;
    background: #110B23;
    box-shadow:  5px 5px 10px #0a0615,
                -5px -5px 10px #181031;
    width: 70px;
    height: 25px;
  }

  .li-hire{
    border-radius: 31px;
    background: #110B23;
    box-shadow:  5px 5px 10px #0a0615,
                -5px -5px 10px #181031;
    width: 70px;
    height: 25px;
  }
  
  .request-hire ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;

  }
  
  .request-hire li {
    padding: 10px 5px; 
   text-align: center;
  }
  
  .request-hire li:not(:last-child) {
    margin-right: 20px; 
  }

  .pagination {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; 
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #110B23;
    box-shadow: inset 5px 5px 0px #07040e,
                inset -5px -5px 0px #1b1238;
    cursor: pointer;
    color: #fff;
  }
  
  .pagination button.active {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #110B23;
    box-shadow: inset 5px 5px 0px #07040e,
                inset -5px -5px 0px #1b1238;
    cursor: pointer;
    color: #fff;
  }
  
  .pagination .arrow button {
    padding: 20px;
  }