@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* set the theme color of the apllication */
    --themeColor: #F34900; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header naviagtion bar  */
header {
    /* background: #06080b8c; */
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    padding: 15px 30px;
    z-index: 2;
}

header .navbar {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .navigation-left a img {
    size: 50px;
    height: 50px;
    margin: 0 20px;
    border-radius: 50%;
}

header .navbar .navigation-left{
    display: flex;
    align-items: center;
    content: "Cultra";
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.navbar .menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.navbar .menu-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar .menu-links a:hover {
    color: var(--themeColor);
}

.navbar .menu-links #signup-button{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 15px;
}

.navbar .menu-links #signup-button:hover{
    background-color: var(--themeColor);
    border-color: transparent;
    color: #fff;
}

.navbar #hamburger-button, .navbar #close-menu-button {
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

.navbar #close-menu-button  {
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

.navbar #hamburger-button, .navbar #close-menu-button {
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

.navbar #close-menu-button  {
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

@media screen and (max-width: 900px){
    .navbar :is(#hamburger-button, #close-menu-button){
        display: block;
    }

    .navbar .menu-links {
        background: #fff;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        display: block;
        padding: 75px 40px 0;
        transition: left 0.3s ease;
    }

    .navbar #hamburger-button {
        display: block;
    }

    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    
    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar .menu-links li {
        margin-bottom: 50px;
    }

    .navbar .menu-links a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links #signup-button {
        padding: 0;
    }

    .navbar .menu-links #signup-button:hover {
        color: var(--themeColor);
        background: none;
    }
}

/* content */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
    margin: 0 auto 40px;
    width: 100%;
    transition: all 0.5s ease;
}

.content h1 {
    font-weight: 600;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
}

.content:hover{
    color: var(--themeColor);
}

.content p {
    font-size: 1.2rem;
}

/* infinity-scroll */
.carousel-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;  /*Hide overflow*/
    position: relative;
}

.carousel-container .carousel-list {
    display: flex;
    width: calc(100vw * 5); /* Adjust width based on number of items */
    transition: all 0.5s ease 0s;
}

.carousel-container .carousel-list::after {
    position: absolute;
    content: "";
    top: 0;
    /* background: linear-gradient(180deg,rgba(0,0,0,0.7), rgba(255,255,255,0)); */
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0.6), rgba(0,0,0,0.7), rgba(0,0,0,1));
    width: calc(100vw * 5); /* Adjust width based on number of items */
    height: 100vh;
    z-index: 1;
}

.carousel-list img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.carousel-arrow-container {
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform : translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.carousel-arrow-container .carousel-arrow{
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s ease;
}

.carousel-arrow-container .carousel-arrow span:hover {
    background-color: rgba(0,0,0,0.3);
    color: rgb(221, 214, 175);
    border-radius: 50%;
}

.carousel-arrow span {
    padding: 20px;
    color: #b9b5b5;
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
}

.indicator {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

.indicator span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 0 3px;
    cursor: pointer;
}

.indicator span.active{
    background: #d3d2d2;
}